
    {{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Los pequenos</h1>
            <p>Son los pequenos</p>
        </div>
        <div class="col-4">
            <img src="assets/img/pequenos.jpg" class="img-thumbnail">

        </div>
    </div>

    {{> footer }}